@model IEnumerable<TestWebApp.Models.Event>

@{
    ViewBag.Title = "События";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить событие", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ValueFor(modelItem => item.Date, "{0:H:mm, dd MMMM yyyy }")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Count)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
